@page "/AllStudents"
@using Project.Avalon.Shared.Models
@using Project.Avalon.Web.Services.Students
@inject AllStudentsService _AllStudentService
@inject NavigationManager _navigationManager
@using Microsoft.AspNetCore.Components.Web.Extensions.Head

<Title Value="Avalon: All Students" />

<MudPaper Class="pa-8 ma-5" Elevation="3">
    <MudText Class="mb-2"><h1><strong>All Students</strong></h1></MudText>
    <MudCard Elevation="2" Class="mt-4 pa-4">
    <div style="width:600px">
        <MudFab Color="Color.Warning" Icon="@Icons.Material.Filled.Add" OnClick="AddNewStudent"/>
    </div>
    @if (AllStudent == null)
        {
            <MudProgressLinear Color="Color.Warning" Indeterminate="true" Class="my-7" />
        }
         else{
             <MudTable Items="@AllStudent" T="All" SortLabel="Sort By" Dense="true" Class="pa-4 mt-3">
              <HeaderContent>
                  <MudTh>Student Id</MudTh>
                  <MudTh>Full Name</MudTh>
                  <MudTh>Email</MudTh>
                  <MudTh>University</MudTh>
                  <MudTh>Major</MudTh>
                  <MudTh>Minor</MudTh>
                  <MudTh>Concentration</MudTh>
                  <MudTh>College</MudTh>
                  <MudTh>Department</MudTh>
                  <MudTh>Admit Term</MudTh>
                  <MudTh>GPA</MudTh>
                  <MudTh>Credits Completed</MudTh>
                  <MudTh>Expected Graduation</MudTh>
                  <MudTh>Academic Standing</MudTh>
                  <MudTh>Actions</MudTh>
                  </HeaderContent>
                  <RowTemplate>
                      <MudTd DataLabel="Student Id">@context.Id</MudTd>
                      <MudTd DataLabel="Full Name">@context.Name</MudTd>
                      <MudTd DataLabel="Email">@context.Email</MudTd>
                      <MudTd DataLabel="University">@context.University</MudTd>
                      <MudTd DataLabel="Major">@context.Major</MudTd>
                    @if (context.Minor == null)
                    {
                        <MudTd DataLabel="Minor">Not Declared</MudTd>
                    } else
                    {
                        <MudTd DataLabel="Minor">@context.Minor</MudTd>
                    }
                    @if(context.Concentration == null)
                    {
                        <MudTd DataLabel="Concentration">Not Declared</MudTd>
                    } else
                    {
                        <MudTd DataLabel="Concentration">@context.Concentration</MudTd>
                    }
                      <MudTd DataLabel="College">@context.College</MudTd>
                      <MudTd DataLabel="Department">@context.Department</MudTd>
                      <MudTd DataLabel="Admit Term">@context.AdmitTerm</MudTd>
                    @if(context.GPA == 0.00)
                    {
                        <MudTd DataLabel="GPA">Not available at this moment</MudTd>
                    }else
                    {
                        <MudTd DataLabel="GPA">@context.GPA.ToString("N2")</MudTd>
                    }
                      @if(context.CreditsCompleted == 0)
                    {
                        <MudTd DataLabel="Credits Completed">Not available at this moment</MudTd>
                    } else
                    {
                        <MudTd DataLabel="Credits Completed">@context.CreditsCompleted.ToString("N0")</MudTd>
                    }
                      @if(context.GraduationDate == null)
                    {
                        <MudTd DataLabel="Expected Graduation">Not available at this moment</MudTd>
                    } else
                    {
                        <MudTd DataLabel="Expected Graduation">@context.GraduationDate.Value.ToString("MMMM yyyy")</MudTd>
                    }
                      @if(context.HasGoodAcademicStanding == true)
                    {
                        <MudTd DataLabel="Academic Standing">Good</MudTd>
                    } else if (context.HasGoodAcademicStanding == null)
                    {
                        <MudTd DataLabel="Academic Standing">Not available at this moment</MudTd>
                    }
                    else
                    {
                    <MudTd DataLabel="Academic Standing">Bad</MudTd>
                    }
                    <MudStack Class="py-16 d-flex flex-1" Row="true">
                    <MudIconButton Href="@($"/AllStudents/ViewStudent/{context.Id}")" Icon="@Icons.Filled.Preview" Color="Color.Warning" />
                   <MudIconButton Href="@($"/AllStudents/EditStudent/{context.Id}")" Icon="@Icons.Filled.Edit" Color="Color.Warning" />
                <MudIconButton Href="@($"/AllStudents/DeleteStudent/{context.Id}")" Icon="@Icons.Filled.Delete" Color="Color.Warning" />
               </MudStack>
               </RowTemplate>
             </MudTable>
         }
         </MudCard>
    </MudPaper>

@code {
    List<All> AllStudent;
    protected override async Task OnInitializedAsync()
    {
        AllStudent = await Task.Run(() => _AllStudentService.GetAllStudentsAsync());
    }

    private void AddNewStudent()
    {
        _navigationManager.NavigateTo("/AllStudents/AddNewStudent");
    }
}
